<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="ServerFolders" type="STW_Service.ServerFoldersConfigSection, STW_Service"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="ErrorLog" value="D:\УЧЁБА\C#\lab2-3cs\Server\ErrorLog.txt"/>
    <add key="Log" value="D:\УЧЁБА\C#\lab2-3cs\Server\Log.txt"/>
    <add key="CryptoKey" value="pQ1IS5hq"/>
    <add key="CryptoIV" value="pQ1IS5hq"/>
    <add key="WorkDir" value="D:\УЧЁБА\C#\lab2-3cs\STW-Service"/>
  </appSettings>  

  <ServerFolders>
    <Folders>
      <Folder name="Source" path="D:\УЧЁБА\C#\lab2-3cs\Server\Source"/>
      <Folder name="Target" path="D:\УЧЁБА\C#\lab2-3cs\Server\Target"/>
      <Folder name="Archivated" path="D:\УЧЁБА\C#\lab2-3cs\Server\Target\Archivated"/>
      <Folder name="Dearchivated" path="D:\УЧЁБА\C#\lab2-3cs\Server\Source\Dearchivated"/>
    </Folders>
  </ServerFolders>
  
</configuration>